<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        p {
          background-image: url("https://www.nm.org//-/media/northwestern/healthbeat/images/health%20library/nm-ten-signs-cardiologist_preview.jpg");
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease</title>
</head>
<body>
    <h1><marquee>Welcome to Lata Mangeshkar Hospital Free Service</marquee></h1>
    <h2>Heart Disease Prediction</h2>

    <form method="POST" action="/pred_disease">
        <p>

        <label>age:</label>
        <input type="text" name = "age">
        </select>

        <label>sex:</label>
                <input type="text" name = "sex">
                </select>
        
        <br>
        <br>

        <label>cp:</label>
            <input type="text" name = "cp">
            </select>
        <label>trestbps:</label>
            <input type="text" name = "trestbps">
            </select>

        <br>
        <br>

        <label>chol:</label>
            <input type="text" name = "chol">
            </select>
        <label>fbs:</label>
            <input type="text" name = "fbs">
            </select>

        <br>
        <br>

        <label>restecg:</label>
            <input type="text" name = "restecg">
            </select>
        <label>thalach:</label>
            <input type="text" name = "thalach">
            </select>

        <br>
        <br>

        <label>exang:</label>
            <input type="text" name = "exang">
            </select>
        <label>oldpeak:</label>
            <input type="text" name = "oldpeak">
            </select>

        <br>
        <br>

        <label>slope:</label>
                <input type="text" name = "slope">
                </select>
        <label>ca:</label>
            <input type="text" name = "ca">
            </select>

        <br>
        <br>

        <label>thal:</label>
            <input type="text" name = "thal">
            </select>

        <input type = "submit" value = "SUBMIT">

        <br>
    
        <b>{{prediction}}</b>  
        <a href="https://www.instagram.com/p/Cf0ciBDPDiwAX2g5RdkidwuIaubbTTC70QlwOo0/?igshid=YmMyMTA2M2Y=">Contact Honourable Abhishek</a>
        <br>
        <a href="https://www.instagram.com/p/CdxgaeQrf4T/?igshid=MDJmNzVkMjY=">Contact Honourable Abhijit</a>
        
        
        </p>

</body>
</html>